

/* 
.slaider-item img{
    height:40vh;
} */

#logo-menu{
    border-radius: 5px;
    /* background-color: rgb(111, 111, 216); */
    color:rgb(111, 111, 216);
    font-size: 25px;
}
.col-content-right{
    padding:0px 0;
    text-align: center;
}

.col-content-right img{
    max-height: 300px;
    margin:0 auto;
}
.col-content-right h2, .col-content-right p{
    text-align: justify;
}

.none-b{
    box-shadow: none !important;
}
.none-b div{
    box-shadow: none !important;
}


/*FORM CONTACT*/
#form-contact{
    padding:5px 10px;
    border: none;
}

.error{
    color: red
}


#title-contact{
    color: blue;
    padding:2px;
    text-align: center;
}

/* #form-contact input, #form-contact textarea{
    border: none;
    border-bottom: 1.8px solid rgba(0, 0, 0, 0.4);
    padding:10px 0;
    outline: none !important;
    resize: none;
    box-shadow: none; 
} */

#form-contact input:focus, #form-contact textarea:focus{
    border-color:rgb(111, 111, 216);;
}

.section-maps{
    width: 100vw;
    height: 80vh;
}


/*FOOTER*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
.main {
    flex: 1;
}
  
.footer {
    background-image: url("https://i.stack.imgur.com/AZ2Xw.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 300px;
}


/*STYLES FOR ARTICLE*/
.container_article{
    margin: 25px 0;
}
.article{
    /*padding:0 3px;*/
    margin: auto;
    box-shadow:4px 6px 14px 3px #d7cece;
    -moz-box-shadow:4px 6px 14px 3px #d7cece;
    -webkit-box-shadow:4px 6px 14px 3px #d7cece;
    margin: 0 15px;
    /*transform: scale(0.9, 0.9);*/

}
.article:hover{
  /* transform: scale(1.0, 1.0);*/
}

/*ANIMATIONS*/
.card-wrapper {
    margin-bottom: 0px;
}
.card-image .card .card-img-wrapper {
    height: 100%;
}
.card-image .card .card-body {
    display: none;
}
.card-image-title-description .card .card-img-wrapper {
    max-height: 160px;
}
.card-image-title-description .card {
    position: relative;
    min-height: 300px;
}
.card-image-title-description .card .card-body {
    /*height: auto;*/
    position: relative;
    top: 0;
    /*margin-bottom: -70px;*/
}
.card-image-title-description .card:hover .card-body {
    top: -70px;
}
.card-image-title-description .card .card-body .card-title {
    margin-bottom: .75rem;
}
.card {
    display: inline-block;
    position: relative;
    overflow: hidden;
    min-height: 250px;
    /*height: 100%;*/
}
.card:hover {
    box-shadow: 8px 12px 31px -10px #ab98ab;
}
.card-img-wrapper {
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    /*height: 50%;*/
    overflow: hidden;
}
.card-img-wrapper img {
    transition: 1.5s ease;
}
.card:hover .card-img-wrapper img {
    transform: scale(1.15);
}
.card-body .card-title {
    margin-bottom: calc(50% + 20px);
    transition: 1.5s ease;
}
.card:hover .card-body .card-title {
    margin-bottom: .75rem;
}

.card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background-color: #fff;
    transition: 1.5s ease;
}
.card-content {
    left: 0;
    right: 0;
    overflow: hidden;
    /*width: 100%;*/
    /*height: auto;*/
    transition: 1.5s ease;
}
.card:hover .card-body {
    height:100%;
}
/*.card:hover .card-content {
    bottom: 0;
}*/
body {
    margin: 0;
    background-image: linear-gradient(to right, #ECE9E6 , #FFFFFF);
}